@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* COLORES: #252625, #BF8069, #497CBF, #03A696, #025949, #68BF7F, #E5F5FA*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #252625;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;
    padding: 6px;
    background-color: #BF8069;
    border: 1px solid #000;
    z-index: 1000;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.navbar {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    padding: 6px;
    color: #000;
    font-size: 23px;
    font-weight: 423;
}

.navbar:hover {
    opacity: 1;
}

.navbar a:hover {
    text-decoration: underline;
    color: #E5F5FA;
}

main {
    margin-top: calc(1px + 51px);
}

.secb {
    padding: 5rem;
    border: 1px solid #000;
}

#Inicio {
    background-color: #03A696;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#Inicio p {
    font-size: 36px;
    width: 50%;
    text-align: left;
    padding-left: 127px;
    transition: 0.91s;
}

#Inicio p:hover {
    transform: scale(1.06);
}

.pi {
    display: block;
}

.pi1 {
    display: block;
}

.pi2 {
    color: white;
    font-size: 45px;
}

#Inicio img {
    height: 690px;
    border-radius: 6px;
}

.animarimg {
    opacity: 0;
    position: relative;
    left: -61%;
    transition: all 0.6s ease;
}

.animarimg.in-view {
    opacity: 1;
    left: 0;
}

.animarp {
    opacity: 0;
    transform: translateY(127px);
    transition: all 0.6s ease;
}

.animarp.in-view {
    opacity: 1;
    transform: translateY(0);
}

#Portfolio {
    background-color: #497CBF;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 91px;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    padding: 10px;
}

.grid-item {
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform-origin: center;
}

.grid-item img:hover {
    transform: scale(0.95);
    transition: transform 0.3s ease;
    box-shadow: 0px 6px 23px rgba(0, 0, 0, 0.5);
}

#Servicios {
    background-color: #68BF7F;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

.servicio {
    color: #000;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 27px;
    text-align: center;
}

.servicio p {
    padding: 3px;
    text-transform: uppercase;
}

.servicio i {
    padding: 27px;
    font-size: 91px;
}

.servicio-precio {
    font-weight: bold;
}

.servicio-descripcion {
    margin-top: 6px;
}

.fa-video {
    position: relative;
    right: -12px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -169%;
    left: 100%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.fotoseparador {
    position: relative;
    width: 100%;
    min-height: 960px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fotoseparador img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.fs1 {
    background-image: url('./imagenes/foto14.jpg');
}

.fs2 {
    background-image: url('./imagenes/foto15.jpg');
}

.fs3 {
    background-image: url('./imagenes/foto11.jpg');
}

#Contacto {
    background-color: #025949;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#Contacto a {
    margin-left: 3px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#Contacto i {
    margin-left: 6px;
}

/* Animaciones */

/* Estilos para móviles */

@media (max-width: 768px) {
    .navbar {
        flex-flow: row nowrap;
    }

    .navbar a {
        font-size: 18px;
        padding: 10px;
        flex: 1 1 auto;
        text-align: center;
    }

    #Inicio {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    #Inicio p {
        text-align: center;
        font-size: 24px;
        padding-left: 0px;
        padding-top: 16px;
    }

    #Inicio img {
        height: 300px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item img {
        height: 480px;
    }

    .secb {
        padding: 27px;
    }

    #Servicios {
        flex-flow: column nowrap;
    }

    .servicio {
        padding: 9px;
    }

    .servicio i {
        font-size: 50px;
    }

    #Contacto a {
        font-size: 16px;
    }

    #Contacto i {
        font-size: 19px;
    }

    .fotoseparador {
        display: none;
    }
}



@media (min-width: 769px) and (max-width: 1024px) {

    .secb {
        padding: 40px;
    }

    #Inicio img {
        height: 450px;
    }

    #Inicio p {
        font-size: 28px;
        padding-left: 50px;
    }

    .grid-item img {
        height: 480px;
        width: 100%;
        object-fit: cover;
    }

    #Servicios {
        flex-flow: row wrap;
    }

    .servicio i {
        font-size: 61px;
    }

    .servicio-precio {
        padding: px;

    }

    .fotoseparador {
        display: none;
    }
}